body {
}

.clock {
  position: relative;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    circle,
    rgba(62, 161, 143, 1) 20%,
    rgba(80, 255, 206, 1) 70%,
    rgba(93, 255, 172, 1) 100%
  );
  border-radius: 50%;
  margin-top: 200px;
  margin-left: 600px;
}

.hours {
  position: absolute;
  height: 140px;
  width: 9px;
  border-radius: 10px;
  background-color: rgb(72, 71, 71);
  margin-left: 200px;
  margin-top: 60px;
  transform-origin: bottom;
  transform: rotate(0deg);
}
.minutes {
  position: absolute;
  height: 170px;
  width: 9px;
  border-radius: 10px;
  background-color: rgb(244, 200, 255);
  margin-left: 200px;
  margin-top: 30px;
  transform-origin: bottom;
  transform: rotate(0deg);
}
.seconds {
  position: absolute;
  height: 190px;
  width: 5px;
  border-radius: 10px;
  background-color: orange;
  margin-left: 202px;
  margin-top: 10px;
  transform-origin: bottom;
}
.center-hole {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  margin-top: 192px;
  margin-left: 197px;
}
.twelve {
  position: absolute;
  height: 20px;
  width: 20px;
  font-size: 40px;
  font-weight: bold;
  color: brown;
  margin-left: 187px;
  letter-spacing: 0.4px;
}
.three {
  position: absolute;
  height: 20px;
  width: 20px;
  font-size: 40px;
  font-weight: bold;
  color: brown;
  margin-left: 370px;
  margin-top: 185px;
}
.six {
  position: absolute;
  height: 20px;
  width: 20px;
  font-size: 40px;
  font-weight: bold;
  color: brown;
  margin-left: 195px;
  margin-top: 360px;
}
.nine {
  position: absolute;
  height: 20px;
  width: 20px;
  font-size: 40px;
  font-weight: bold;
  color: brown;
  margin-left: 20px;
  margin-top: 185px;
}
